body {
    background-color: #f6f6f6;

    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.top{
    margin-top: 32px;
}

.logo {
    width: 102px;
    height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    display: inline-block;
    margin-left: 16px
}

.sizeButton{
    height: 32px;
    width: 88px;
}

/* Container Margins */
.container{
    margin-top: 5%;
}

/* Table Sizing */
table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

tr td {
    margin-bottom: 8px;
    border-bottom: 2px solid white;
}

tr td:first-child {
    width: 50px;
    margin-bottom: 8px;
}

tr td:nth-child(2) {
    width: 400px;
}

tr td:last-child {
    width: 100px;
}

/* Medalla Sizing */
.imagenMedalla {
    height: 32px;
    width: 32px;
}

/* Fotos de Chatarra en Indicadores */
.chatarraIndicadores {
    height: 400px;
    width: 300px;
}

.contenidoIndicadores {
    background-color: rgb(102, 102, 102, 0.7);
    border-radius: 25px;
    height: 600px;
    width: 100%;
    margin-right: 102px;
}

/* Login Content*/
.contenido { /* Div que contiene todo el login*/
    margin-top: 8%;
    background-color: #485458;
    border-radius: 25px;
}

.texto  /* Titulo del Login */{
    color: white;
    margin-bottom: 10%;
}

/* Input Modificators */
input {
    color: white;
}

.input-field > label {
    color: white;
}

input[type=text]:not(.browser-default) {
    border-bottom: 1px solid white;
}

input[type=password]:not(.browser-default) {
    border-bottom: 1px solid white;
}

.row .input-field input[type=text]:focus + label {
    color: white;
}

.row .input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

.row .input-field input[type=password]:focus + label {
    color: white;
}

.row .input-field input[type=password]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

.input-field .prefix.active {
    color: white;
}

.input-field .prefix {
    color: white;
}

/* Password margin modificators */
#passwordcoli {
    margin-bottom: 0px;
}

#passwordrow {
    margin-bottom: 0px;
}

/* Texto Olvide Mi Contraseña */
.olvidastecontrasena {
    color: white;
    margin-bottom: 5%;
}

.credencialesinvalidas {
    color: red;
    text-align: center;
}

.botonmenu {
    margin-top: 64px;
    height: 200px;
    margin-bottom: 40px;
    border-radius: 25px;
    background-color: rgb(255, 51, 0);
    color: white;
}

.botonmenu:hover {
    border: 3px solid rgb(255, 51, 0);
    background-color: rgb(102, 102, 102, 0.8);
}

.textobtn {
    padding: 70px 0;
    margin-bottom: 8%;
    margin-top: 4%;
}

#botonlogin {
    margin-bottom: 40px;
    background-color: rgb(255, 51, 0);
    color: white;
}

#botonlogin:hover {
    background-color: rgb(255, 51, 0, 0);
    border: 1px solid rgb(255, 51, 0);
    color: white;
}

#botonDatosUsuario {
    margin-bottom: 40px;
    background-color: rgb(255, 51, 0);
    color: white;
}

    #botonDatosUsuario:hover {
        background-color: rgb(255, 51, 0, 0);
        border: 1px solid rgb(255, 51, 0);
        color: white;
    }

/* Dropdown */
.dropdownTop {
    margin-top: 64px;
}

.tituloPerfil {
    background-color: rgb(102, 102, 102, 0.8);
    color: white;
}

.tablaPerfil {
    background-color: rgb(102, 102, 102);
    color: white;
    text-align: center;
    margin-top: 60px;
}

.ranking {
    background-color: rgb(102, 102, 102);
}

#botonesLeaderboard {
    background-color: rgb(255, 51, 0);
}

    #botonesLeaderboard:hover {
        background-color: rgb(255, 51, 0, 0);
        border: 1px solid rgb(255, 51, 0);
        color: white;
    }