body {
    background-image: url(background.png);
}

.navbar {
    background-color: rgb(102, 102, 102);
}

.navbar h1 {
    margin: 0px;
    color: white;
}


.contenido {
    margin-top: 8%;
    background-color: rgb(102, 102, 102);
    border-radius: 25px;
}

.texto {
    color: white;
    margin-bottom: 10%;
}

input {
    color: white;
}

.input-field > label {
    color: white;
}

input[type=text]:not(.browser-default) {
    border-bottom: 1px solid white;
}

input[type=password]:not(.browser-default) {
    border-bottom: 1px solid white;
}

.row .input-field input[type=text]:focus + label {
    color: white;
}

.row .input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

.row .input-field input[type=password]:focus + label {
    color: white;
}

.row .input-field input[type=password]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

.input-field .prefix.active {
    color: white;
}

.input-field .prefix {
    color: white;
}

#passwordcoli {
    color: white;
    margin-bottom: 0px;
}

#passwordrow {
    margin-bottom: 0px;
}

.olvidastecontrasena {
    color: white;
    margin-bottom: 10%;
}

#boton1 {
    margin-bottom: 40px;
    background-color: rgb(255, 51, 0);
    color: white;
}

    #boton1:hover {
        background-color: rgb(255, 51, 0);
        border: 1px solid rgb(255, 51, 0);
        color: white;
    }
