@page
@model Sprint3.Pages.ExamenLeaderboardModel
@{
    ViewData["Title"] = "Leaderboard";
}

<div class="container">
    <!-- Leaderboard -->
    <div class="imagenBackground">

        <!-- Escoger Opción: Leaderboard de Examen o Entrenamiento o Indicadores-->
        <div class="center row top">

            <div class="col s5">
                <a href="@Url.Page("/EntrenamientoLeaderboard")" class="btn white-text" id="botonesLeaderboard"><i class="material-icons left">cloud</i>Entrenamiento</a>
            </div>

            <div class="col s3">
                <a href="@Url.Page("/ExamenLeaderboard")" class="btn white-text" id="botonesLeaderboard"><i class="material-icons left">cloud</i>Examen</a>
            </div>

            <div class="col s4">
                <a href="@Url.Page("/IndicadoresLeaderboard")" class="btn white-text" id="botonesLeaderboard"><i class="material-icons left">cloud</i>Indicadores</a>
            </div>

        </div>

        <!-- Medallas
        Usuario más alto durante el mes = medalla de oro
        Segundo usuario más alto durante el mes = medalla de oro
        Tercer usuario más alto durante el mes = medalla de bronze
        -->

        <div class="top">
            <table class="ranking centered white-text">
                <tbody>
                    <tr>
                        <!-- Lugar -->
                        <td>
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                        </td>

                        <!-- Nombre -->
                        <td>
                            Ernesto Dávila
                        </td>

                        <!-- Medallas -->
                        <td>
                            700
                        </td>
                    </tr>
                    <tr>
                        <!-- Lugar -->
                        <td>
                            <img src="img/medalla_plata.png" class="imagenMedalla" />
                        </td>

                        <!-- Nombre -->
                        <td>
                            Cristobal Escamilla
                        </td>

                        <!-- Medallas -->
                        <td>
                            600
                        </td>
                    </tr>
                    <tr>
                        <!-- Lugar -->
                        <td>
                            <img src="img/medalla_bronze.png" class="imagenMedalla" />
                        </td>

                        <!-- Nombre -->
                        <td>
                            Wicho Zambrano
                        </td>

                        <!-- Medallas -->
                        <td>
                            500
                        </td>
                    </tr>
                    <tr>
                        <!-- Lugar -->
                        <td>4</td>

                        <!-- Nombre -->
                        <td>
                            Juan Manuel
                        </td>

                        <!-- Medallas -->
                        <td>
                            400
                        </td>
                    </tr>
                    <tr>
                        <!-- Lugar -->
                        <td>5</td>

                        <!-- Nombre -->
                        <td>
                            Lorenzo Ortiz
                        </td>

                        <!-- Medallas -->
                        <td>
                            300
                        </td>
                    </tr>
                    <tr>
                        <!-- Lugar -->
                        <td>6</td>

                        <!-- Nombre -->
                        <td>
                            Ernesto Pozas
                        </td>

                        <!-- Medallas -->
                        <td>
                            200
                        </td>
                    </tr>
                    <tr>
                        <!-- Lugar -->
                        <td>7</td>

                        <!-- Nombre -->
                        <td>
                            Ernesto Pozas
                        </td>

                        <!-- Medallas -->
                        <td>
                            100
                        </td>
                    </tr>
                    <tr>
                        <!-- Lugar -->
                        <td>8</td>

                        <!-- Nombre -->
                        <td>
                            Ernesto Pozas
                        </td>

                        <!-- Medallas -->
                        <td>
                            50
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>