@page
@model MVP_Web.Pages.ExamenModel
@{
    ViewData["Title"] = "Examen";
}

<div class="container" style="font-family: 'Oswald', sans-serif;">
    <h4 class="center-align greyDark">Escribe el Tipo de Chatarra Que Es</h4>
    @*Imagen a Calificar*@
    <div class="row">
        <div class="input-examen col s12 top">
            <input placeholder="Tipo de Chatarra" type="text" id="autocomplete-input3" />
        </div>
    </div>
    <div class="top">
        <img src="img/chatarra2.jpg" class="chatarraExamen" />
    </div>
</div>