@page
@model MVP_Web.Pages.Index1Model
@{
    ViewData["Title"] = "Log-In";
}
<div class="navbar">
    <h1>NavBar</h1>
</div>
<div class="container">
    <div class="botones1 row">
        <a class="btn col s5">
            <p class="textobtn">EXAMEN</p>
        </a>
        <a class="btn col s5 offset-s2">
            <p class="textobtn">ENTRENAMIENTO</p>
        </a>
    </div>
    <div class="botones2 row">
        <a class="btn col s5">
            <p class="textobtn">HISTORIAL</p>
        </a>
        <a class="btn col s5 offset-s2">
            <p class="textobtn">RANKING</p>
        </a>
    </div>
</div>