@page
@model MVP_Web.Pages.Index1Model
@{
    ViewData["Title"] = "Log-In";
}
<div class="container">
    <div class="botones1 row">
        <a class="botonmenu btn col s12 m5">
            <p class="textobtn flow-text">EXAMEN</p>
        </a>
        <a class="botonmenu btn col s12 m5 offset-m2">
            <p class="textobtn flow-text">ENTRENAMIENTO</p>
        </a>
    </div>
    <div class="botones2 row">
        <a class="botonmenu btn col s12 m5">
            <p class="textobtn flow-text">HISTORIAL</p>
        </a>
        <a class="botonmenu btn col s12 m5 offset-m2">
            <p class="textobtn flow-text">RANKING</p>
        </a>
    </div>
</div>