@page
@model MVP_Web.Pages.Index1Model
@{
    ViewData["Title"] = "Log-In";
}

<div class="row">
    <div class="imagenesLanding col l5 m4">
        <img id="imagenMenu" src="~/img/img_37012.jpg" />
    </div>
    <div class="textoLanding col l5 m6 offset-l2">
        <h2>Bienvenido @Model.Nombre,</h2>
        <div class="row"></div>
        <h5 style="color: #666666">Aquí podrás entrenar para la labor que realizaras en las plantas de Ternium.</h5>
        <div class="botones1 row">
            <a href="@Url.Page("/Examen")" class="botonmenu btn-large col l4 offset-l1">
                Examen
            </a>
            <a href="@Url.Page("/Practica")" class="botonmenu btn-large col l4 offset-l1">
                Entrenamiento
            </a>
        </div>
    </div>
</div>