@page
@model Sprint3.Pages.PerfilModel
@{
    ViewData["Title"] = "Perfil";
}

<div class="container">
    <div class="row centered">
        <div class="col s8">
            @*Examenes*@
            @*Titulo*@
            <h3 class="centered">Examen</h3>
            <div class="row">
                <div class="col 12 top">
                    <table class="centered greyDark">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Puntos</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model.ListaEntrenamiento)*@
                            @*{*@
                            <tr>
                                <!-- Lugar -->
                                <td>
                                    1
                                </td>

                                <!-- Nombre -->
                                <td>
                                    Nombre
                                </td>

                                <!-- Score -->
                                <td>
                                    Score
                                </td>
                            </tr>
                            @*}*@
                        </tbody>
                    </table>
                </div>
            </div>
            @*Entrenamientos*@
            <div class="row">
                <div class="col 12 top">
                    @*Titulo*@
                    <h3 class="centered">Entrenamientos</h3>
                    <div class="row">
                        <div class="col 12 top">
                            <table class="centered greyDark">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Puntos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@foreach (var item in Model.ListaEntrenamiento)*@
                                    @*{*@
                                    <tr>
                                        <!-- Lugar -->
                                        <td>
                                            1
                                        </td>

                                        <!-- Nombre -->
                                        <td>
                                            Nombre
                                        </td>

                                        <!-- Score -->
                                        <td>
                                            Score
                                        </td>
                                    </tr>
                                    @*}*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4">
            @*Titulo*@
            <div class="centered">
                <h3>Medallas</h3>
            </div>
            @*Subcategoría de Medallas 1*@
            <div class="row">
                <div class="col 12">
                    <h6>Categoría 1</h6>
                    <div class="row">
                        <div class="col 12">
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                        </div>
                    </div>
                </div>
            </div>
            @*Subcategoría de Medallas 2*@
            <div class="row">
                <div class="col 12">
                    <h6>Categoría 2</h6>
                    <div class="row">
                        <div class="col 12">
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                        </div>
                    </div>
                </div>
            </div>
            @*Subcategoría de Medallas 3*@
            <div class="row">
                <div class="col 12">
                    <h6>Categoría 3</h6>
                    <div class="row">
                        <div class="col 12">
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                            <img src="img/medalla_oro.png" class="imagenMedalla" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>